<ui-view></ui-view>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="row" ng-show="vm.state=='form'">
                <div class="col-xs-12">
                    <form>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="nit">{{vm.header[0]}}</label>
                                <input type="text" class="form-control" id="nit" ng-model="vm.provider.nit">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="name">{{vm.header[1]}}</label>
                                <input type="text" class="form-control" id="name" ng-model="vm.provider.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="adress">{{vm.header[2]}}</label>
                                <input type="text" class="form-control" id="adress" ng-model="vm.provider.adress">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="phone">{{vm.header[3]}}</label>
                                <input type="text" class="form-control" id="phone" ng-model="vm.provider.phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="email">{{vm.header[4]}}</label>
                                <input type="email" class="form-control" id="email" ng-model="vm.provider.email">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="contact">{{vm.header[5]}}</label>
                                <input type="text" class="form-control" id="contact" ng-model="vm.provider.contact">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button id="button" type="submit" class="btn btn-success" ng-click="vm.saveProvider()">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    <span>&nbsp;&nbsp;Guardar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-default" ng-click="vm.startProvider()">
                                    <span class="fas fa-backspace"></span>
                                    <span>&nbsp;&nbsp;Limpiar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                    <span class="fas fa-undo"></span>
                                    <span>&nbsp;&nbsp;Cancelar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="vm.state=='table'">
                <div class="col-xs-12">
                    </br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="search">Busqueda:&nbsp;&nbsp;</label><input type="text" id="search"
                                ng-model="vm.search.$">
                        </div>
                        <div class="col-md-6">
                            <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                <span class="fas fa-plus-square"></span>
                                <span>&nbsp;&nbsp;Agregar proveedores</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col" ng-repeat='header in vm.header'>{{header}}</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat='header in vm.header'><input type="text"
                                                ng-model="vm.search[header]"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='provider in vm.providers | filter: vm.search'>
                                        <td>{{provider.nit}}</td>
                                        <td>{{provider.name}}</td>
                                        <td>{{provider.adress}}</td>
                                        <td>{{provider.phone}}</td>
                                        <td>{{provider.email}}</td>
                                        <td>{{provider.contact}}</td>
                                        <td>
                                            <button class="btn-primary" ng-click="vm.modifyProvider(provider)"><i
                                                    class="fas fa-edit"></i></button>
                                            <button class="btn-warning" ng-click="vm.deleteProvider(provider._id)"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>