<ui-view></ui-view>
<div class="container">
    <div class="panel">
            <div class="login_description col-sm-6 text-center">
                <img src="app/img/clutch.png" alt="Smiley face" height="100" width="100">
                <h1>Clutches, frenos y servicios del sur</h1>
                <h3>Distribuidores y Servicio a Domicilio</h3>
            </div>
            <div class="login_credentials col-sm-6">
                <h3>Bienvenido al Sistema de gestión de inventario, ingresa con usuario y contraseña autorizado.</h3>
                <form ng-submit = "vm.logIn()" name = "vm.loginForm">
                    <div class="form-group">
                        <input type="username" class="form-input" ng-model="vm.employeeCode" required placeholder="User Name">
                        <div class="input-icon"><i class="fas fa-user"></i></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" ng-model="vm.password" required placeholder="Password">
                        <div class="input-icon"><i class="fas fa-user-lock"></i></div>
                    </div>
                    <button type="submit" class="btn btn-block" ng-disabled = "!vm.loginForm.$valid">Login</button>
                </form>
            </div>
    </div>
</div>