<ui-view></ui-view>
<div class="container">
    <div class="panel">
            <div class="login_description col-sm-6 text-center">
                    <h1>Ventas</h1>
                    {{vm.test}}
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="code">{{vm.header[0]}}</label>
                            <input type="text" class="form-control" id="code" ng-model="vm.product.code">
                        </div>
                    </div>
    </div>
</div>