<ui-view></ui-view>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="row" ng-show="vm.state == 'form'">
                <div class="col-xs-12">
                    <form>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="code">{{vm.header[0]}}</label>
                                <input type="text" class="form-control" id="code" ng-model="vm.client.nit">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="barCode">{{vm.header[1]}}</label>
                                <input type="text" class="form-control" id="barCode" ng-model="vm.client.name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="name">{{vm.header[2]}}</label>
                                <input type="text" class="form-control" id="name" ng-model="vm.client.address">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="description">{{vm.header[3]}}</label>
                                <input type="text" class="form-control" id="description" ng-model="vm.client.telephone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="lastCost">{{vm.header[4]}}</label>
                                <input type="text" class="form-control" id="lastCost" ng-model="vm.client.email">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="brand">{{vm.header[5]}}</label>
                                <input type="text" class="form-control" id="brand" ng-model="vm.client.contact">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button id="button" type="submit" class="btn btn-success" ng-click="vm.saveClient()">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    <span>&nbsp;&nbsp;Guardar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-default" ng-click="vm.startClient()">
                                    <span class="fas fa-backspace"></span>
                                    <span>&nbsp;&nbsp;Limpiar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                    <span class="fas fa-undo"></span>
                                    <span>&nbsp;&nbsp;Cancelar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" ng-show="vm.state=='table'">
                <div class="col-xs-12">
                    </br>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="search">Busqueda:&nbsp;&nbsp;</label><input type="text" id="search"
                                ng-model="vm.search.$">
                        </div>
                        <div class="col-xs-6">
                            <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                <span class="fas fa-plus-square"></span>
                                <span>&nbsp;&nbsp;Agregar clientes</span>
                            </button>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col" ng-repeat='header in vm.header'>{{header}}</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat='header in vm.header'><input type="text"
                                                ng-model="vm.search[header]"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='client in vm.clients'>
                                        <td>{{client.nit}}</td>
                                        <td>{{client.name}}</td>
                                        <td>{{client.address}}</td>
                                        <td>{{client.phone}}</td>
                                        <td>{{client.email}}</td>
                                        <td>{{client.contact}}</td>
                                        <td>
                                            <button class="btn-primary" ng-click="vm.modifyClient(client)"><i
                                                    class="fas fa-edit"></i></button>
                                            <button class="btn-warning" ng-click="vm.deleteClient(client._id)"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>