<ui-view></ui-view>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="row" ng-show="vm.state=='form'">
                <div class="col-xs-12">
                    <form>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="code">{{vm.header[0]}}</label>
                                <input type="text" class="form-control" id="code" ng-model="vm.product.code">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="barCode">{{vm.header[1]}}</label>
                                <input type="text" class="form-control" id="barCode" ng-model="vm.product.barcode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="name">{{vm.header[2]}}</label>
                                <input type="text" class="form-control" id="name" ng-model="vm.product.name">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="description">{{vm.header[3]}}</label>
                                <input type="text" class="form-control" id="description"
                                    ng-model="vm.product.description">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="lastCost">{{vm.header[4]}}</label>
                                <input type="text" class="form-control" id="lastCost" ng-model="vm.product.lastCost">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="brand">{{vm.header[5]}}</label>
                                <input type="text" class="form-control" id="brand" ng-model="vm.product.brand">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="model">{{vm.header[6]}}</label>
                                <input type="text" class="form-control" id="model" ng-model="vm.product.model">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="manufacturer">{{vm.header[7]}}</label>
                                <input type="text" class="form-control" id="manufacturer"
                                    ng-model="vm.product.manufacturer">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button id="button" type="submit" class="btn btn-success" ng-click="vm.saveProduct()">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                    <span>&nbsp;&nbsp;Guardar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-default" ng-click="vm.startProduct()">
                                    <span class="fas fa-backspace"></span>
                                    <span>&nbsp;&nbsp;Limpiar</span>
                                </button>
                                <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                    <span class="fas fa-undo"></span>
                                    <span>&nbsp;&nbsp;Cancelar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </br>

            <div class="row" ng-show="vm.state=='table'">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="search">Busqueda:&nbsp;&nbsp;</label><input type="text" id="search"
                                ng-model="vm.search.$">
                        </div>
                        <div class="col-xs-6">
                            <button id="button" type="submit" class="btn btn-primary" ng-click="vm.changeState()">
                                <span class="fas fa-plus-square"></span>
                                <span>&nbsp;&nbsp;Agregar clientes</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col" ng-repeat='header in vm.header'>{{header}}</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat='header in vm.header'><input type="text"
                                                ng-model="vm.search[header]"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='product in vm.products | filter: vm.search'>
                                        <td>{{product._id}}</td>
                                        <td>{{product.barcode}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.description}}</td>
                                        <td>{{product.lastCost}}</td>
                                        <td>{{product.brand}}</td>
                                        <td>{{product.model}}</td>
                                        <td>{{product.manufacturer}}</td>
                                        <td>
                                            <button class="btn btn-primary" ng-click="vm.modifyProduct(product)"><i
                                                    class="fas fa-edit"></i></button>
                                            <button class="btn btn-warning" ng-click="vm.deleteProduct(product._id)"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>